<div class="view view_accounts">
    <header class="content-header">
        <h1 class="header-title">{{t 'accounts'}}</h1>
        <nav class="content-actions on-desktop">
            <button class="btn" {{action 'composeRecord'}}>
                <i class="fa fa-plus"></i>{{t 'add'}}
            </button>
        </nav>
    </header>
    <section class="content-body">
        <header class="entries-head">
            <div class="head-wrap">
                <label class="entry-select">
                    <input type="checkbox" class="all" {{action 'selectAll'}} />
                </label>
                <div class="entry-captions">
                    <span class="vacc-name">
                        {{t 'name'}}
                    </span>
                    <span class="vacc-cur">
                        <!-- {{t 'currency'}} -->
                    </span>
                    <span class="vacc-initial">
                        {{t 'opening_balance'}}
                    </span>
                    <span class="vacc-amount-ctrl">
                        {{t 'amount_control'}}
                    </span>
                    <span class="vacc-own">
                        {{t 'writers'}}
                    </span>
                    <span class="vacc-obs">
                        {{t 'readers'}}
                    </span>
                </div>
            </div>
        </header>
        <div class="entries">
            {{#each model as |account|}}
                {{#unless account.isNew}}
                <div class="entry-wrap">
                    <div class="entry-actions">
                        <button class="entry-action action-delete" {{action 'deleteRecord' account}}>
                            <i class="fa fa-trash" />
                        </button>
                    </div>
                    {{#tn-swipe-entry class='entry'}}
                        <label class="entry-select">
                            <input type="checkbox" value="{{account.id}}" {{action 'selectOne'}} />
                        </label>
                        {{#link-to 'accounts.account' account class='entry-link'}}
                        <div class="entry-fields">
                            <span class="vacc-name">
                                {{account.name}}
                            </span>
                            <span class="vacc-cur">
                                {{account.currencyCode}}
                            </span>
                            <span class="vacc-initial">
                                {{account.openingBalance}}
                            </span>
                            <span class="vacc-amount-ctrl">
                                {{account.amountControl}}
                            </span>
                            <span class="vacc-own">
                                <span>{{owner.name}}</span>
                            </span>
                            <span class="vacc-obs">
                                {{#each account.observers as |observer|}}
                                    <span>{{observer.name}}</span>
                                {{/each}}
                            </span>
                        </div>
                        {{/link-to}}
                    {{/tn-swipe-entry}}
                </div>
                {{/unless}}
            {{/each}}
        </div>
    </section>
</div>
