<aside class="aside nav-app" id="nav-app">
    <nav class="side-nav">
        <div class="nav-profile {{navProfileClass}}">
            <header>
                <a href="#" {{action 'toggleNavProfile'}}>
                    <span class="nav-i user-avatar">
                        <i class="fa fa-user"></i>
                    </span>
                    <span class="user-name">{{model.login}}</span>
                    <i class="fa expand"></i>
                </a>
            </header>
            <section>
                <ul>
                    <li>
                        {{#link-to 'user_profile'}}
                            <span class="nav-i"><i class="fa fa-cog"></i></span>
                            <span class="nav-t">{{t 'user_profile'}}</span>
                        {{/link-to}}
                    </li>
                    {{#if loginThroughToken}}
                        <li>
                            <a href="rest/workspace/url" class="ws">
                                <span class="nav-i"><i class="fa fa-desktop"></i></span>
                                <span class="nav-t">{{t 'workspace'}}</span>
                            </a>
                        </li>
                    {{/if}}
                    <li>
                        <a href="#" {{action 'logout'}} class="logout">
                            <span class="nav-i"><i class="fa fa-sign-out"></i></span>
                            <span class="nav-t">{{t 'logout'}}</span>
                        </a>
                    </li>
                </ul>
            </section>
        </div>
        <ul>
            <li>
                {{#link-to 'dashboard'}}
                    <span class="nav-i"><i class="fa fa-dashboard"></i></span>
                    <span class="nav-t">{{t 'dashboard'}}</span>
                {{/link-to}}
            </li>
            <li>
                {{#link-to 'tasks'}}
                    <span class="nav-i"><i class="fa fa-tasks"></i></span>
                    <span class="nav-t">{{t 'tasks'}}</span>
                {{/link-to}}
            </li>
            <li>
                {{#link-to 'users'}}
                    <span class="nav-i"><i class="fa fa-users"></i></span>
                    <span class="nav-t">{{t 'users'}}</span>
                {{/link-to}}
            </li>
        </ul>
    </nav>
</aside>
