<aside class="aside side-nav issue-nav" id="nav-app">
    <ul>
        <li>
            {{#link-to 'issues' (query-params at='inbox') class='nav-link'}}
                <i class="fa fa-inbox"></i>
                <span>{{t 'inbox'}}</span>
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'issues' (query-params at='today') class='nav-link'}}
                <i class="fa fa-calendar-o"></i>
                <span>{{t 'today'}}</span>
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'issues' (query-params at='week') class='nav-link'}}
                <i class="fa fa-calendar"></i>
                <span>{{t 'week'}}</span>
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'issues' (query-params at='all') class='nav-link'}}
                <i class="fa fa-database"></i>
                <span>{{t 'all'}}</span>
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'issues' (query-params at='completed') class='nav-link'}}
                <i class="fa fa-check-square-o"></i>
                <span>{{t 'completed'}}</span>
            {{/link-to}}
        </li>
        <li class="divider"></li>
        <li class="panel">
            <div class="panel__header">
                {{#if canEditTags}}
                    <div class="panel-actions">
                        {{#link-to 'tags' class='panel-btn'}}
                            <i class="fa fa-gear"></i>
                        {{/link-to}}
                    </div>
                {{/if}}
                <span class="panel-title nav-link" data-toggle="panel">
                    <i class="fa fa-tags"></i>
                    <span>{{t 'tags'}}</span>
                </span>
            </div>
            <div class="panel__body">
                <ul class="issue-filter">
                    {{#each filterTags as |tag|}}
                        <li>
                            {{#link-to 'issues' (query-params tags=tag.id) class='nav-link'}}
                                {{tag.name}}
                            {{/link-to}}
                        </li>
                    {{/each}}
                </ul>
            </div>
        </li>
        <li class="panel">
            <div class="panel__header">
                {{#if canEditUsers}}
                    <div class="panel-actions">
                        {{#link-to 'users' class='panel-btn'}}
                            <i class="fa fa-gear"></i>
                        {{/link-to}}
                    </div>
                {{/if}}
                <span class="panel-title nav-link" data-toggle="panel">
                    <i class="fa fa-users"></i>
                    <span>{{t 'executors'}}</span>
                </span>
            </div>
            <div class="panel__body">
                <ul class="issue-filter">
                    {{#each users as |user|}}
                        <li>
                            {{#link-to 'issues' (query-params u=user.id) class='nav-link'}}
                                {{user.login}}
                            {{/link-to}}
                        </li>
                    {{/each}}
                </ul>
            </div>
        </li>
    </ul>
</aside>
