<aside class="aside side-nav nav-app" id="nav-app">
    <ul>
        <li>
            {{#link-to 'issues' (query-params at='inbox')}}
                <i class="fa fa-inbox"></i>{{t 'inbox'}}
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'issues' (query-params at='today')}}
                <i class="fa fa-calendar-o"></i>{{t 'today'}}
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'issues' (query-params at='week')}}
                <i class="fa fa-calendar"></i>{{t 'week'}}
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'issues' (query-params at='favorite')}}
                <i class="fa fa-star-o"></i>{{t 'favorite'}}
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'issues' (query-params at='completed')}}
                <i class="fa fa-check-square-o"></i>{{t 'completed'}}
            {{/link-to}}
        </li>
        <li class="divider"></li>
        <li class="panel open">
            <button class="panel-toggle" data-toggle="panel">
                <i class="fa fa-angle-left"></i>
            </button>
            {{#link-to 'tags' class='panel-title'}}
                <i class="fa fa-tags"></i>{{t 'tags'}}
            {{/link-to}}
            <ul class="panel-body issues__nav-tags">
                {{#each tags as |tag|}}
                    <li>
                        {{#link-to 'issues' (query-params tags=tag.id)}}
                            {{tag.name}}
                        {{/link-to}}
                    </li>
                {{/each}}
            </ul>
        </li>
        <li class="panel open">
            <button class="panel-toggle" data-toggle="panel">
                <i class="fa fa-angle-left"></i>
            </button>
            {{#link-to 'users' class='panel-title'}}
                <i class="fa fa-users"></i>{{t 'executors'}}
            {{/link-to}}
            <ul class="panel-body issues__nav-users">
                {{#each users as |user|}}
                    <li>
                        {{#link-to 'issues' (query-params u=user.id)}}
                            {{user.login}}
                        {{/link-to}}
                    </li>
                {{/each}}
            </ul>
        </li>
    </ul>
</aside>
