<div class="issues-view">
    <table style="width:100%">
        <tr>
            <td style="vertical-align:top;width:260px">
                <ul class="nav">
                    <li>
                        {{#link-to 'issues' (query-params at='inbox')}}
                            {{t 'inbox'}}
                        {{/link-to}}
                    </li>
                    <li>
                        {{#link-to 'issues' (query-params at='today')}}
                            {{t 'today'}}
                        {{/link-to}}
                    </li>
                    <li>
                        {{#link-to 'issues' (query-params at='week')}}
                            {{t 'week'}}
                        {{/link-to}}
                    </li>
                    <li>
                        {{#link-to 'issues' (query-params at='favorite')}}
                            {{t 'favorite'}}
                        {{/link-to}}
                    </li>
                    <li>
                        {{#link-to 'issues' (query-params at='completed')}}
                            {{t 'completed'}}
                        {{/link-to}}
                    </li>
                </ul>
                <ul class="nav">
                    <li>
                        <h4>{{t 'tags'}}</h4>
                        {{#link-to 'settings.tags.new'}}
                            {{t 'add_tag'}}
                        {{/link-to}}
                    </li>
                </ul>
                <ul class="nav">
                    <li>
                        <h4>{{t 'executors'}}</h4>
                        {{#link-to 'settings.users.invitation'}}
                            {{t 'invite_user'}}
                        {{/link-to}}
                    </li>
                </ul>
            </td>
            <td style="vertical-align:top;">
                <h1>
                    {{tn-input type='text' placeholder='add new issue'}}
                </h1>
                {{issue/issues-view issues=issues}}
            </td>
        </tr>
    </table>
</div>
