<div>
<h1>Application {{model.appName}}</h1>
    <div class="action-bar">
        <button class="btn btn-primary" {{action 'save' this}}>Save & Close</button>
        <a class="btn" href="#/apps">Cancel</a>
    </div>

    <div class="control-group">
        <div class="control-label">
            Application name:
        </div>
        <div class="controls">
            {{input name="appName" value=model.appName required=true}}
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
         Owner:
        </div>
        <div class="controls">
         {{input name="owner" value=model.owner required=true }}
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
            Database host:
        </div>
        <div class="controls">
            {{input name="dbHost" value=model.dbHost required=true }}
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
         Database login:
        </div>
        <div class="controls">
         {{input name="dbLogin" value=model.dbLogin required=true }}
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
            Database name:
        </div>
        <div class="controls">
            {{input name="dbName" value=model.dbName required=true }}
        </div>
    </div>
 
     
</div>