<div>
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">Applications</div>
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Name</th>
					<th>Owner</th>
					<th>Type</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				{{#each model as |app|}}
				<tr>

					<td>{{app.id}}</td>
					<td>{{#link-to 'app' app.id}} {{app.appName}}{{/link-to}}</td>
					<td>{{app.owner}}</td>
					<td>{{app.appType}}</td>
					<td>{{app.status}}</td>
					<td>
						<button {{action 'deletea' app}} class="btn btn-default">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>

</div>