<div>
	
   		 <div class="page-header">
     	   <h1>User<small>{{model.login}}</small><small>{{model.regDate}}</small></h1>
  		  </div>
	
	<form class="form-horizontal">

		<div class="form-group">
			<label for="inputEmail" class="control-label col-xs-2">User	name</label>
			<div class="col-xs-5">{{input class="form-control" name="userName" value=model.userName required=true}}</div>
		</div>
		<div class="form-group">
			<label for="inputEmail" class="control-label col-xs-2">Login</label>
			<div class="col-xs-5">{{input class="form-control" name="login"	value=model.login required=true}}</div>
		</div>
		<div class="form-group">
			<label for="inputEmail" class="control-label col-xs-2">E-mail</label>
			<div class="col-xs-5">{{input class="form-control" name="email"	value=model.email required=true}}</div>
		</div>
		<div class="form-group">
			<label for="inputEmail" class="control-label col-xs-2">Preffered lang</label>
			<div class="col-xs-5">{{input class="form-control" name="prefflang" value=model.prefferedLang required=true}}</div>
		</div>
		<div class="form-group">
			<label for="inputEmail" class="control-label col-xs-2">Status</label>
			 <div class="col-xs-5">
					{{select-native class="form-control" content=USER_STATUS value=model.status}}
			</div>	
		</div>
		<div class="form-group">
			<label for="inputEmail" class="control-label col-xs-2">Database login</label>
			<div class="col-xs-5">{{input class="form-control" name="dblogin" value=model.dbLogin required=true}}</div>
		</div>
		<div class="form-group">
			<label for="inputEmail" class="control-label col-xs-2">Database default password</label>
			<div class="col-xs-5">{{input class="form-control" name="dbdefaultpwd" value=model.defaultDbPwd required=true}}</div>
		</div>	
		<div class="form-group">
			<label for="inputEmail" class="control-label col-xs-2">IsSupervisor</label>
			<div class="col-xs-5">{{input type="checkbox" name="isSupervisor" checked=model.supervisor}}</div>
		</div>		
		<div class="action-bar">
			<button class="btn btn-primary"{{action 'save' this}}>Save & Close</button>
			<a class="btn" href="#/users">Cancel</a>
		</div>
	</form>
</div>