<div class="entry-wrap">
    <div class="entry-actions">
        <button class="entry-action action-delete" {{action 'deleteRecord' category}}>
            <i class="fa fa-trash" />
        </button>
    </div>
    {{#tn-swipe-entry class='entry'}}
        <label class="entry-select">
            <input type="checkbox" value="{{category.id}}" {{action 'selectOne'}} />
        </label>
        {{#link-to 'categories.category' category class='entry-link'}}
        <div class="entry-fields">
            <span class="vcat-name {{if category.parent 'indent'}}">
                {{#if category.children}}
                    <i class="has-child"></i>
                {{/if}}
                {{#if category.parent}}
                    <i class="has-parent"></i>
                {{/if}}
                {{category.name}}
            </span>
            <span class="vcat-types">
                {{transaction-icon category.transactionType}}
            </span>
            <span>
                {{category.note}}
            </span>
        </div>
        {{/link-to}}
    {{/tn-swipe-entry}}
</div>
{{#if category.children}}
    {{#each category.children as |child_category|}}
        {{#unless child_category.isNew}}
            {{category-view-row category=child_category tagName='div' class='child' deleteRecord='deleteRecord'}}
        {{/unless}}
    {{/each}}
{{/if}}
