<div class="form-wrapper">
    <form {{action 'save' on='submit' }}>
        <header class="content-header">
            <button class="btn-back" {{action 'close'}}>
                <i class="fa fa-chevron-left"></i>
            </button>
            <h1 class="header-title">
                {{t 'transaction'}}
            </h1>
        </header>
        <section class="content-body">
            <fieldset class="fieldset">
                <div class="form-group {{if errors.name 'has-error'}}">
                    <div class="controls">
                        <label>
                            {{tn-input-radio
                                value='E'
                                groupValue=transaction.transactionType}}
                            {{t 'expense'}}
                        </label>
                        <label>
                            {{tn-input-radio
                                value='I'
                                groupValue=transaction.transactionType}}
                            {{t 'income'}}
                        </label>
                        <label>
                            {{tn-input-radio
                                value='T'
                                groupValue=transaction.transactionType}}
                            {{t 'transfer'}}
                        </label>
                    </div>
                </div>
                <div class="form-group {{if errors.date 'has-error'}}">
                    <div class="control-label">
                        {{t 'date'}}
                    </div>
                    <div class="controls">
                        {{pikaday-input
                            value=transaction.date
                            format='YYYY-MM-DD'
                            class='span2'}}
                        {{#each errors.date as |error|}}
                            <div class="error-message">{{error.message}}</div>
                        {{/each}}
                    </div>
                </div>
                <div class="form-group {{if errors.account 'has-error'}}">
                    <div class="control-label">
                        {{t 'account'}}
                    </div>
                    <div class="controls">
                        {{ember-selectize
                            content=accounts
                            optionValuePath='id'
                            optionLabelPath='name'
                            selection=transaction.account
                            placeholder='-'
                            class='span5'}}
                        {{#each errors.account as |error|}}
                            <div class="error-message">{{error.message}}</div>
                        {{/each}}
                    </div>
                </div>

                {{#if isTransfer}}
                    <div class="form-group {{if errors.transferAccount 'has-error'}}">
                        <div class="control-label">
                            {{t 'tranfer_to_account'}}
                        </div>
                        <div class="controls">
                            {{ember-selectize
                                content=accounts
                                optionValuePath='id'
                                optionLabelPath='name'
                                selection=transaction.transferAccount
                                placeholder='-'
                                class='span5'}}
                            {{#each errors.transferAccount as |error|}}
                                <div class="error-message">{{error.message}}</div>
                            {{/each}}
                        </div>
                    </div>
                {{/if}}

                <div class="form-group">
                    <div class="control-label">
                        {{t 'category'}}
                    </div>
                    <div class="controls">
                        {{ember-selectize
                            content=categories
                            optionValuePath='id'
                            optionLabelPath='name'
                            selection=transaction.category
                            placeholder='-'
                            class='span5'}}
                    </div>
                </div>
                <div class="form-group {{if errors.amount 'has-error'}}">
                    <div class="control-label">
                        {{t 'amount'}}
                    </div>
                    <div class="controls">
                        {{tn-input
                            type='number'
                            value=transaction.amount
                            key-up='validateAmount'
                            class='span2'}}
                        {{#each errors.amount as |error|}}
                            <div class="error-message">{{error.message}}</div>
                        {{/each}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label">
                        {{t 'cost_center'}}
                    </div>
                    <div class="controls">
                        {{ember-selectize
                            content=costCenters
                            optionValuePath='id'
                            optionLabelPath='name'
                            selection=transaction.costCenter
                            placeholder='-'
                            class='span5'}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label">
                        {{t 'tags'}}
                    </div>
                    <div class="controls">
                        {{ember-selectize
                            content=tags
                            multiple=true
                            optionValuePath='id'
                            optionLabelPath='name'
                            selection=transaction.tags
                            placeholder='-'
                            class='span5'}}
                    </div>
                </div>
                <div class="form-group {{if errors.name 'has-error'}}">
                    <div class="control-label">
                        {{t 'note'}}
                    </div>
                    <div class="controls">
                        {{textarea
                            value=transaction.note
                            key-up='validateNote'
                            maxlength='256'
                            class='span5'}}
                        {{count-down-characters transaction.note 256}}
                        {{#each errors.note as |error|}}
                            <div class="error-message">{{error.message}}</div>
                        {{/each}}
                    </div>
                </div>
            </fieldset>
            <fieldset class="fieldset">
                <legend class="legend">{{t 'attachments'}}</legend>
                {{upload-form
                    maxSize=3
                    fieldName='files'
                    attachments=transaction.attachments
                    model=transaction
                    modelId=transaction.id
                    modelUrl='transactions'
                    addAttach='addAttach'
                    removeAttach='removeAttach'}}
            </fieldset>
        </section>
        <footer class="content-actions">
            <button class="btn" {{action 'close'}}>{{t 'close'}}</button>
            <button type="submit" class="btn btn-primary">{{t 'save'}}</button>
        </footer>
    </form>
</div>
