<aside class="aside side-nav nav-app" id="nav-app">
    <ul>
        <li>
            {{#link-to 'dashboard' class='nav-link'}}
                <i class="fa fa-dashboard"></i>
                <span>{{t 'dashboard'}}</span>
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'transactions' (query-params type='') class='nav-link'}}
                <i class="fa fa-tasks"></i>
                <span>{{t 'transactions'}}</span>
            {{/link-to}}
            <ul>
                <li>
                    {{#link-to 'transactions' (query-params type='income') class='nav-link'}}
                        <i class="fa fa-caret-up green"></i>
                        <span>{{t 'incomes'}}</span>
                    {{/link-to}}
                </li>
                <li>
                    {{#link-to 'transactions' (query-params type='expense') class='nav-link'}}
                        <i class="fa fa-caret-down red"></i>
                        <span>{{t 'expenses'}}</span>
                    {{/link-to}}
                </li>
                <li>
                    {{#link-to 'transactions' (query-params type='transfer') class='nav-link'}}
                        <i class="fa fa-retweet blue"></i>
                        <span>{{t 'transfers'}}</span>
                    {{/link-to}}
                </li>
            </ul>
        </li>
        <li>
            {{#link-to 'reports' class='nav-link'}}
                <i class="fa fa-bar-chart-o"></i>
                <span>{{t 'reports'}}</span>
            {{/link-to}}
        </li>
        <li class="divider"></li>
        <li>
            {{#link-to 'budget' class='nav-link'}}
                <i class="fa fa-calculator"></i>
                <span>{{t 'budget'}}</span>
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'accounts' class='nav-link'}}
                <i class="fa fa-credit-card"></i>
                <span>{{t 'accounts'}}</span>
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'categories' class='nav-link'}}
                <i class="fa fa-sitemap"></i>
                <span>{{t 'categories'}}</span>
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'cost_centers' class='nav-link'}}
                <i class="fa fa-map-marker"></i>
                <span>{{t 'cost_center_short'}}</span>
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'tags' class='nav-link'}}
                <i class="fa fa-tags"></i>
                <span>{{t 'tags'}}</span>
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'users' class='nav-link'}}
                <i class="fa fa-users"></i>
                <span>{{t 'users'}}</span>
            {{/link-to}}
        </li>
    </ul>
</aside>
