<div class="tag-field">
    {{#if isEditing}}
        {{tn-input value=tag.name maxlength='64'}}
        <button {{action 'saveTag' tag}} class="btn btn-primary">{{t 'save'}}</button>
        <button {{action 'cancel' tag}} class="btn btn-link">{{t 'cancel'}}</button>
    {{else}}
        <div {{action 'setEditing' tag}}>
            {{#link-to 'tags.tag' tag}}
                {{tag.name}}
            {{/link-to}}
        </div>
    {{/if}}
</div>
{{#unless isEditing}}
    <div class="tag-actions">
        <button {{action 'addChildTag' tag}} class="btn btn-link">{{t 'add_child'}}</button>
        {{#unless tag.isNew}}
            <button {{action 'deleteTag' tag}} class="btn btn-link btn-warning">{{t 'remove'}}</button>
        {{/unless}}
    </div>
{{/unless}}
