<div class="tag-field">
    {{#if isEditing}}
        {{tn-input value=tag.name maxlength=64}}
        <button {{action 'cancel' tag}} class="btn btn-link btn-sm">{{t 'cancel'}}</button>
        <button {{action 'saveTag' tag}} class="btn btn-primary btn-sm">{{t 'save'}}</button>
    {{else}}
        <div {{action 'setEditing' tag}}>
            {{#link-to 'tags.tag' tag}}
                {{tag.name}}
            {{/link-to}}
        </div>
    {{/if}}
</div>
{{#unless isEditing}}
    <div class="tag-actions">
        <button {{action 'addChildTag' tag}} class="btn btn-link btn-sm">
            <i class="fa fa-plus"></i>
        </button>
        {{#unless tag.isNew}}
            <button {{action 'deleteTag' tag}} class="btn btn-link btn-sm delete">
                <i class="fa fa-trash"></i>
            </button>
        {{/unless}}
    </div>
{{/unless}}
