<div class="entry-wrap">
    <div class="entry-actions">
        <button class="entry-action action-delete" {{action 'deleteIssue' issue}}>
            <i class="fa fa-trash" />
        </button>
    </div>
    {{#tn-swipe-entry class='entry'}}
        {{#link-to 'issues.edit' issue class='entry-link'}}
        <div class="entry-fields">
            <span class="issue-status">
                {{issue-status-icon issue.status}}
            </span>
            <span class="issue-body">
                <span class="issue-body-text">{{issue.body}}</span>
                <span class="issue-tags">
                    {{#each issue.tags as |tag|}}
                        <span class="issue-tag">{{tag.name}}</span>
                    {{/each}}
                </span>
                <span class="issue-due-date">
                    <span>{{format-date issue.dueDate}}</span>
                    <span class="issue-due-date-from-now">
                        {{moment-from-now issue.dueDate}}
                    </span>
                </span>
            </span>
            <span class="issue-assignee">
                {{issue.assignee.login}}
            </span>
            <span class="issue-priority">
                {{issue.priority}}
            </span>
        </div>
        {{/link-to}}
    {{/tn-swipe-entry}}
</div>
